.cardCursoCreator{
    border: 3px solid #D9BC66;
    border-radius: 20px;
    padding: 16px;
    margin-bottom: 16px;
    height: 100%;
}

.cardCursoImg img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cardCursoText h4{
  margin-top: 8px;
}

.cardCursoText h5{
    margin-top: 8px;
}

.cardCursoBadge span{
    background: #A68A56;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 14px;
}

.cardCursoButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

