.btn-primary {
    background-color: #A68456;
    border: 1px solid #A68456;
}

.btn-primary:hover {
    background-color: #D9BC66;
}

.btn-warning[type="submit"] {
    background-color: #A68A56;
    border: 1px solid #A68456;
    padding: 6px 15px;
}

.backgroundPage {
    background-color: #3F3D40;
}

.title {
    color: #D9BC66;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.Card {
    padding: 10px;
}

.label {
    color: #D9BC66 !important;
}